body {
  font-family: "Roboto", "Raleway", sans-serif;
  background-color: #ffffff;
  color: #757575;
}
*,
::after,
::before {
  box-sizing: border-box;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
.linkwork-link {
  text-decoration: none;
}
