.footer-form {
  display: block;
  margin-left: 93px;
}
.footer-modal-form {
  display: flex;
  position: relative;
}
.footer-input-icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  fill: var(--body-background-color);
}

.footer-modal-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  outline: transparent;
  color: var(--accent2-color);
}
.footer-modal-input:focus {
  border-color: var(--accent-color);
}
