.footer-form-title {
  text-align: left;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--body-background-color);
  margin-bottom: 20px;
}
