.header-navigation {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-header);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav-item:not(:last-child) {
  margin-right: 50px;
}

.header__contacts-item:first-child {
  margin-right: 50px;

  @media screen and (max-width: 1199px) {
    margin-right: 0;
  }
}
