.activities {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
.activities__thumb {
  position: relative;
  width: 370px;
  overflow: hidden;
}

.activities__overlay {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  padding: 24px 107px;
  background-color: var(--activity-background);
}
.activities__list {
  display: flex;
  gap: 30px;
}
.activities__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
.activities__text {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--body-background-color);
}
