.feature {
  padding-bottom: 0;
}
.feature__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.feature__item {
  width: 100%;
  @media screen and (min-width: 786px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }

  // width: 270px;
  // width: calc((100% - 30px) / 2);
}
.feature__group {
  // width: 270px;
  height: 120px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--section31-background-color);

  @media screen and (min-width: 480px), (max-width: 480px) {
    display: flex;
    width: 100%;
    text-align: center;
  }
  @media screen and (min-width: 786px) {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
}

.feature__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
  margin-top: 30px;

  @media screen and (min-width: 480px), (max-width: 480px) {
    text-align: center;
  }
  @media screen and (min-width: 786px) {
    text-align: start;
  }
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}
.feature__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
