.modal__form {
  display: block;
  text-align: center;
}
.modal__form-field {
  margin-bottom: 10px;
}
.modal__form-field-comment {
  margin-bottom: 20px;
}
.modal__form-input {
  width: 100%;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  outline: transparent;
}
.modal__form-input:focus,
.modal__form-comment-input:focus {
  border-color: var(--accent-color);
}
.modal__form-input:focus + .modal__form-icon {
  fill: var(--accent-color);
}
// .modal-close:hover,
// .modal-close:focus {
//   fill: var(--accent-color);
// }
.modal__form-comment-input {
  display: block;
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: transparent;
}
.modal__form-comment-input::placeholder,
.modal__form-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal__form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}
.modal__form-label span {
  display: block;
  text-align: left;
  margin-bottom: 4px;
}

.modal__form-wrap {
  position: relative;
}

.modal__form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: color var(--time-function) var(--transition-function);
}
