.hero {
  background: var(--hero-background);
  padding: 200px 0;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/1mgoverlay.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) { .hero
    {background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/2x/2x1600header.jpg");
  
  }
    
  }
}
@media screen and (min-width: 0px), (max-width: 768px) {.hero{
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
  url("../images/480header.jpg");
    width: 100%;
    height: 100%;
    padding: 118px 0;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media (min-resolution: 2dppx) { .hero
  {background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
  url("../images/2x/header2x450.jpg");
    width: 100%;
    height: 100%;
    padding: 118px 0;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
  
}
}
@media screen and (min-width: 768px) {.hero{
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
  url("../images/768header.jpg");
      width: 100%;
      height: 100%;
      padding: 118px 0;
      margin-left: auto;
      margin-right: auto;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
}
@media (min-resolution: 2dppx) { .hero
  {background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
  url("../images/2x/2x768header.jpg");
      width: 100%;
      height: 100%;
      padding: 118px 0;
      margin-left: auto;
      margin-right: auto;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

}
  
}
}
@media screen and (min-width: 1200px) {.hero{
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
  url("../images/1mgoverlay.jpg");
      width: 100%;
      height: 100%;
      padding: 200px 0;
      margin-left: auto;
      margin-right: auto;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
}
@media (min-resolution: 2dppx) { .hero
  {background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
  url("../images/2x/2x1600header.jpg");
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

}
  
}
}

.hero__container {
  text-align: center;
}
