.modal__close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  right: 8px;
  top: 8px;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: border-color var(--time-function) var(--transition-function);
}

.modal__close-icon {
  transition: fill var(--time-function) var(--transition-function);
}

.modal__close-btn:hover,
.modal__close-btn:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}
