.worker {
  background: var(--section31-background-color);
}
.worker-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.worker-boxlist {
  padding-top: 30px;
  padding-bottom: 30px;
}
.worker-item {
  width: 100%;

  background-color: var(--body-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.worker-item:first-child {
  margin-right: 0;
}

.worker-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
